<head>
    {{template "widgets/head.html" .}}
    <title>tiny-recruit</title>
</head>

<body>
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row type="flex" justify="center">

        {{if gt .Enterprise.EnterpriseID 0}}
            <el-col :span="20">
                <!-- 左侧导航栏 -->
                <el-col :span="3" style="height:100%;margin-top: 10px;">
                    <el-menu default-active="3">
                        <el-menu-item index="3" @click="displayIndex=3;" style="text-align: center">
                            <span>基本信息</span>
                        </el-menu-item>
                        <el-menu-item index="1" @click="displayIndex=1;" style="text-align: center">
                            <span>职位</span>
                        </el-menu-item>
                        <el-menu-item index="2" @click="displayIndex=2;" style="text-align: center">
                            <span>投递</span>
                        </el-menu-item>
                    </el-menu>
                </el-col>

                <!-- 右侧内容 -->
                {{/*职位管理*/}}
                {{template "enterprise-home/job-management.html" .}}

                {{/*投递管理*/}}
                {{template "enterprise-home/deliverance-management.html" .}}

                {{/*投递管理*/}}
                {{template "enterprise-home/base-management.html" .}}

                {{/*预览简历对话框*/}}
                {{template "enterprise-home/dialog-preview-resume.html" .}}
            </el-col>
        {{else}}
            <el-col :span="18">
                <el-card>
                    <div slot="header" class="clearfix">
                        <el-steps :active="activeStep" align-center>
                            <el-step title="基本信息" description="完善企业基本信息"></el-step>
                            <el-step title="工商信息" description="完善企业工商信息"></el-step>
                        </el-steps>
                    </div>

                    <div>
                        <el-form enctype="multipart/form-data" v-if="step1">
                            <el-form-item label="企业名称" style="width: 500px">
                                <el-input v-model="formEditEnterprise.name" style="width: 200px"></el-input>
                            </el-form-item>
                            <el-form-item label="企业logo" style="width: 500px">
                                <img v-if="formEditEnterprise.cover" :src="formEditEnterprise.cover" alt="">
                                <input type="file" @change="getFiles($event)"/>
                            </el-form-item>
                            <el-form-item label="行业" style="width: 500px">
                                <el-select v-model="formEditEnterprise.type">
                                    <el-option v-for="type in types" :value="type" :label="type"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="所在城市" style="width: 500px">
                                <el-select v-model="provinceSelected" @change="handleProvinceSelected">
                                    <el-option
                                            v-for="province in provinces"
                                            :key="province.pro_id"
                                            :label="province.pro_name"
                                            :value="province.pro_name"
                                    ></el-option>
                                </el-select>
                                <el-select v-if="citySelectVisible" v-model="citySelected" @change="handleCitySelected">
                                    <el-option
                                            v-for="city in cities"
                                            :key="city.city_name"
                                            :label="city.city_name"
                                            :value="city.city_name"
                                    ></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="融资阶段" style="width: 500px">
                                <el-select v-model="formEditEnterprise.financing_stage">
                                    <el-option v-for="stage in stages" :value="stage" :label="stage"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="规模" style="width: 500px">
                                <el-select v-model="formEditEnterprise.scale">
                                    <el-option v-for="scale in scales" :value="scale" :label="scale"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="企业简介">
                                <el-input
                                        type="textarea"
                                        :rows="10"
                                        placeholder="请输入企业简介"
                                        v-model="formEditEnterprise.description">
                                </el-input>
                            </el-form-item>
                            <el-button type="primary" @click="handleNextStep">下一步</el-button>
                        </el-form>
                        <el-form enctype="multipart/form-data" v-if="step2">
                            <el-row>
                                <el-col :span="6" style="margin-left: 250px">
                                    <h5>示例</h5>
                                    <div style="width: 200px;height: 200px;">
                                        <img src="/static/images/licence-example.png" alt="">
                                    </div>
                                </el-col>
                                <el-col :span="6">
                                    <p>营业执照清晰完整，不能裁剪</p>
                                    <p>不支持手机屏幕截图和电脑翻拍图片</p>
                                    <p>营业执照的黑白复印件、扫描件,需加盖红色公司公章</p>
                                    <p>营业执照二维码能识别出本公司信息</p>
                                    <p>如公司信息已变更，请上传最新营业执照</p>
                                    <p>营业执照与公司全称一致</p>
                                </el-col>
                            </el-row>
                            <el-form-item label="营业执照" style="width: 500px;margin-left: 350px">
                                <input type="file" @change="getLicense($event)"/>
                                <el-button type="primary" @click="handleAddEnterprise">确定</el-button>
                            </el-form-item>
                        </el-form>
                    </div>

                </el-card>
            </el-col>
        {{end}}


    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                dialogPreviewResumeVisible: false,
                activeStep: '1',
                step1: true,
                step2: false,
                activeIndex: '4',
                displayIndex: 0,
                currentPage: 1,
                pageSize: 8,
                resume: '',
                enterprise:{{.Enterprise}},
                jobs: {{.Jobs}},
                provinces:{{.Provinces}},
                provinceSelected: '不限',
                citySelected: '',
                cities: [],
                citySelectVisible: false,
                jobQueryID: '',
                deliverList: [],
                deliverListVisible: 0,
                deliverStatus: '',
                deliverStatusList: ['已投递', '已查看', '邀约面试', '已录取', '已释放'],
                dialogNewJobVisible: false,
                dialogEditJobVisible: false,
                exps: ['在校/应届', '3年及以下', '3-5年', '5-10年', '10年以上'],
                edus: ['大专', '本科', '硕士', '博士'],
                natures: ['全职', '实习'],
                types: ['互联网', '电子商务', '游戏', '媒体', '广告营销', '数据服务', '医疗健康', '生活服务', 'O2O', '旅游',
                    '分类信息', '音乐/视频/阅读', '在线教育', '社交网络', '人力资源服务', '信息安全', '智能硬件', '移动互联网', '计算机软件', '互联网金融', '物流/仓储', '其他行业'],
                stages: ['未融资', 'A轮', 'B轮', 'C轮', 'D轮及以上', '已上市', '不需要融资',],
                scales: ['0-20人', '20-99人', '100-499人', '500-999人', '1000-9999人', '10000人以上'],
                formNewJob: {
                    job_id: 0,
                    title: '',
                    location: '',
                    description: '',
                    min_monthly_salary: 0,
                    max_monthly_salary: 0,
                    pay_times: 0,
                    require_education: '',
                    require_experience: '',
                    type: '',
                    nature: '',
                    department: '',
                },
                formEditEnterprise: {
                    name:{{.Enterprise.Name}},
                    description:{{.Enterprise.Description}},
                    location:{{.Enterprise.Location}},
                    type:{{.Enterprise.Type}},
                    financing_stage:{{.Enterprise.FinancingStage}},
                    scale:{{.Enterprise.Scale}},
                    cover:{{.Enterprise.Cover}},
                    file: '',
                    fileLicense: '',
                }
            }
        },
        methods: {
            /*下载用户简历*/
            handleDownloadResume(id) {
                this.getResume(id);
                let element = document.getElementById('resume-box');
                alert(element);
                let opt = {
                    image: {type: 'jpeg', quality: 1},
                    pagebreak: {mode:'avoid-all'},
                };
                html2pdf().set(opt).from(element).save();
            },
            /*日期格式化工具*/
            dateFormat(date) {
                return moment(date).format("YYYY-MM-DD");
            },
            handlePreviewResume(id) {
                //获取简历信息
                this.getResume(id);
                this.dialogPreviewResumeVisible = true;

            },
            /*获取预览简历的信息*/
            getResume(id) {
                let self = this;
                let myFormData = new FormData();
                myFormData.append("id", id);
                $.ajax({
                    url: "{{urlfor "ResumeController.GetResumeByMemberID"}}",
                    type: "POST",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        self.resume = res.data;
                    }

                });
            },
            handleProvinceSelected() {
                /*如果是直辖市*/
                if (this.provinceSelected === "北京市" || this.provinceSelected === "天津市" || this.provinceSelected === "上海市" || this.provinceSelected === "重庆市") {
                    this.formEditEnterprise.location = this.provinceSelected;
                } else {
                    /*查询省对应的市数据*/
                    let self = this;
                    let myFormData = new FormData();
                    myFormData.append("province_name", this.provinceSelected);

                    $.ajax({
                        url: "{{urlfor "BaseController.GetCities"}}",
                        type: "POST",
                        data: myFormData,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.errcode !== 0) {
                                self.$notify.error({
                                    message: res.message
                                });
                            } else {
                                self.cities = res.data;
                                self.citySelectVisible = true;
                            }
                        }

                    });
                }


            },
            handleCitySelected() {
                this.formEditEnterprise.location = this.citySelected;
            },
            handleNextStep() {
                this.step1 = false;
                this.step2 = true;
                this.activeStep = 2;
            },
            /*编辑企业基本信息*/
            getFiles(e) {
                this.formEditEnterprise.file = e.target.files[0];
            },
            getLicense(e) {
                this.formEditEnterprise.fileLicense = e.target.files[0];
            },
            handleEditEnterprise() {
                let self = this;
                let fd = new FormData();
                fd.append("enterprise_id", this.enterprise.enterprise_id);
                fd.append("file", this.formEditEnterprise.file);
                fd.append("name", this.formEditEnterprise.name);
                fd.append("description", this.formEditEnterprise.description);
                fd.append("financing_stage", this.formEditEnterprise.financing_stage);
                fd.append("scale", this.formEditEnterprise.scale);
                fd.append("type", this.formEditEnterprise.type);
                fd.append("location", this.formEditEnterprise.location);
                fd.append("file-license", this.formEditEnterprise.fileLicense);


                $.ajax({
                    url: "{{urlfor "EnterpriseController.Edit"}}",
                    type: "POST",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {

                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.$notify({
                                type: "success",
                                message: "更新企业基本信息成功!"
                            });
                        }
                    }
                })


            },
            handleAddEnterprise() {
                let self = this;
                let fd = new FormData();
                fd.append("enterprise_id", this.enterprise.enterprise_id);
                fd.append("file", this.formEditEnterprise.file);
                fd.append("name", this.formEditEnterprise.name);
                fd.append("description", this.formEditEnterprise.description);
                fd.append("financing_stage", this.formEditEnterprise.financing_stage);
                fd.append("scale", this.formEditEnterprise.scale);
                fd.append("type", this.formEditEnterprise.type);
                fd.append("location", this.formEditEnterprise.location);
                fd.append("file-licence", this.formEditEnterprise.fileLicense);


                $.ajax({
                    url: "{{urlfor "EnterpriseController.Add"}}",
                    type: "POST",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {

                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.$notify({
                                type: "success",
                                message: "新建企业信息成功!"
                            });
                        }
                    }
                })

            },
            dateFormatYMDDel(time) {
                return moment(time).format("YYYY-MM-DD")
            },
            dateFormatYYYYMMDD(time) {
                return moment(time).format("YYYY年MM月DD日")
            },
            handleCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },
            handleQuery() {
                let self = this;
                let myFormData = new FormData();
                let jobID = this.jobQueryID;
                myFormData.append("job_id", jobID);
                $.ajax({
                    url: "{{urlfor "JobController.GetDeliverance"}}",
                    type: "POST",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {

                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.$notify({
                                type: "success",
                                message: "获取投递数据成功!"
                            });
                            self.deliverList = res.data;
                            self.deliverListVisible = 1;
                        }
                    }
                })
            },
            dateFormatAge(birthday) {
                let now = moment();
                return now.diff(birthday, 'years')
            },
            handleSelectStatus(id, origin) {
                let status = this.deliverStatus;
                let self = this;
                this.$confirm('确定修改该投递状态？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //修改投递状态
                    let myFormData = new FormData();
                    myFormData.append("status", status);
                    myFormData.append("deliverance_id", id);
                    $.ajax({
                        url: "{{urlfor "DeliveranceController.ChangeStatus"}}",
                        type: "POST",
                        data: myFormData,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.errcode !== 0) {

                                self.$notify.error({
                                    message: res.message
                                });
                            } else {
                                self.$notify({
                                    type: "success",
                                    message: "投递状态修改成功!"
                                });

                            }
                        }
                    })
                }).catch(() => {
                    this.deliverStatus = origin;
                    this.$message({
                        type: 'info',
                        message: '已取消修改'
                    })
                })
            },
            handleNewJob() {
                //请求新建职位
                let self = this;
                let myFormData = new FormData();
                myFormData.append("title", this.formNewJob.title)
                myFormData.append("nature", this.formNewJob.nature)
                myFormData.append("type", this.formNewJob.type)
                myFormData.append("location", this.formNewJob.location)
                myFormData.append("min_monthly_salary", this.formNewJob.min_monthly_salary)
                myFormData.append("max_monthly_salary", this.formNewJob.max_monthly_salary)
                myFormData.append("pay_times", this.formNewJob.pay_times)
                myFormData.append("require_experience", this.formNewJob.require_experience)
                myFormData.append("require_education", this.formNewJob.require_education)
                myFormData.append("description", this.formNewJob.description)
                myFormData.append("enterprise_id", this.enterprise.enterprise_id);
                myFormData.append("department", this.formNewJob.department);

                $.ajax({
                    url: "{{urlfor "JobController.NewJob"}}",
                    type: "POST",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {

                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.dialogNewJobVisible = false;
                            self.$notify({
                                type: "success",
                                message: "新建职位成功！"
                            });

                        }
                    }
                })
            },
            /*职位编辑*/
            handleEditJob(jobID) {
                /*取回对应职位信息*/
                let self = this;
                let fd = new FormData();
                fd.append("job_id", jobID)
                $.ajax({
                    url: "{{urlfor "JobController.GetJob"}}",
                    type: "POST",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        /*为职位编辑对话框内容赋值*/
                        self.formNewJob.job_id = jobID;
                        self.formNewJob.title = res.data.title;
                        self.formNewJob.nature = res.data.nature;
                        self.formNewJob.type = res.data.type;
                        self.formNewJob.location = res.data.location;
                        self.formNewJob.min_monthly_salary = res.data.min_monthly_salary;
                        self.formNewJob.max_monthly_salary = res.data.max_monthly_salary;
                        self.formNewJob.pay_times = res.data.pay_times;
                        self.formNewJob.require_education = res.data.require_education;
                        self.formNewJob.require_experience = res.data.require_experience;
                        self.formNewJob.description = res.data.description;
                        self.formNewJob.department = res.data.department;
                        self.dialogEditJobVisible = true;
                    }
                })

            },
            /*删除职位*/
            handleDeleteJob(id) {
                let self = this;
                this.$confirm('此操作将删除该职位, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    /*请求后端删除*/
                    let fd = new FormData();
                    fd.append("job_id", id);
                    $.ajax({
                        url: "{{urlfor "JobController.DeleteJob"}}",
                        data: fd,
                        contentType: false,
                        processData: false,
                        method: "POST",
                        success: function (res) {
                            if (res.errcode !== 0) {
                                self.$notify.error({
                                    message: res.message
                                });
                            } else {
                                /*删除成功*/
                                self.$notify({
                                    type: "success",
                                    message: "职位删除成功！"
                                });
                            }
                        }

                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            /*确定修改职位*/
            handleConfirmEditJob() {
                let self = this;
                let myFormData = new FormData();
                myFormData.append("job_id", this.formNewJob.job_id);
                myFormData.append("title", this.formNewJob.title)
                myFormData.append("nature", this.formNewJob.nature)
                myFormData.append("type", this.formNewJob.type)
                myFormData.append("location", this.formNewJob.location)
                myFormData.append("min_monthly_salary", this.formNewJob.min_monthly_salary)
                myFormData.append("max_monthly_salary", this.formNewJob.max_monthly_salary)
                myFormData.append("pay_times", this.formNewJob.pay_times)
                myFormData.append("require_experience", this.formNewJob.require_experience)
                myFormData.append("require_education", this.formNewJob.require_education)
                myFormData.append("description", this.formNewJob.description)
                myFormData.append("department", this.formNewJob.department);
                myFormData.append("enterprise_id", this.enterprise.enterprise_id)

                $.ajax({
                    url: "{{urlfor "JobController.EditJob"}}",
                    type: "POST",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {

                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.dialogNewJobVisible = false;
                            self.$notify({
                                type: "success",
                                message: "修改职位成功！"
                            });

                        }
                    }
                })

            },
            /*上传封面相关*/

            handleAvatarSuccess(res) {

            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }

        },
        delimiters: ['{[', ']}'],
    })
</script>

<style>
    .el-table td, .el-table th {
        text-align: center;
    !important;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
</style>