<head>
    {{template "widgets/head.html" .}}
    <title>tiny-recruit</title>
</head>

<body>
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row type="flex" justify="center">
        <el-col :span="20">
            <!-- 左侧导航栏 -->
            <el-col :span="3" style="height:100%;margin-top: 10px;">
                <el-menu default-active="1">
                    <el-menu-item index="1" @click="displayIndex=1;" style="text-align: center">
                        <span>职位管理</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="displayIndex=2;" style="text-align: center">
                        <span>投递管理</span>
                    </el-menu-item>
                </el-menu>
            </el-col>

            <!-- 右侧内容 -->
            {{/*职位管理*/}}
            {{template "enterprise-home/job-management.html" .}}

            {{/*投递管理*/}}
            {{template "enterprise-home/deliverance-management.html" .}}
        </el-col>
    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: '4',
                displayIndex: 0,
                currentPage: 1,
                pageSize: 8,
                enterprise:{{.Enterprise}},
                jobs: {{.Jobs}},
                resumes:{{.Resumes}},
            }
        },
        methods: {
            dateFormatYYYYMMDD(time) {
                return moment(time).format("YYYY年MM月DD日")
            },
            handleCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },
        },
        delimiters: ['{[', ']}'],
    })
</script>