<head>
    {{template "widgets/head.html" .}}
    <link href="/static/css/enterprise.css" rel="stylesheet">
    <title>tiny-recruit</title>
</head>

<body style="background-color: #f6f6f6">
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row type="flex" justify="center">
        <el-col :span="20" style="margin:10px 10px">
            <el-card shadow="never" style="padding: 0;">
                <div slot="header" class="clearfix">
                    <span>公司浏览</span>
                    <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>

                    {{/*公司过滤器*/}}
                    <el-row style="margin-left: 60px">
                        <el-col :span="20">
                            <div class="filter-box">
                                <p>
                                    <span class="filter-box-title">公司地点</span>
                                    <span class="filter-box-rows">
                                       <el-radio-group v-model="radio_city" @change="handleFilterByCity">
                                                <template v-for="city in cities">
                                                    <el-radio-button :label="city"></el-radio-button>
                                                </template>
                                            </el-radio-group>
                                    </span>
                                </p>
                                <p>
                                    <span class="filter-box-title">融资阶段</span>
                                    <span>
                                        <el-radio-group v-model="radio_financing_stage"
                                                        @change="handleFilterByStage">
                                            <template v-for="stage in stages">
                                                <el-radio-button :label="stage"></el-radio-button>
                                            </template>
                                        </el-radio-group>
                                    </span>
                                </p>
                                <p>
                                    <span class="filter-box-title">公司规模</span>
                                    <span class="filter-box-rows">
                                       <el-radio-group v-model="radio_scale" @change="handleFilterByScale">
                                                <template v-for="scale in scales">
                                                    <el-radio-button :label="scale"></el-radio-button>
                                                </template>
                                            </el-radio-group>
                                    </span>

                                </p>
                                <p><span class="filter-box-title">行业领域</span></p>
                            </div>
                        </el-col>
                    </el-row>
                </div>

                <el-row style="margin-left: 50px">
                    {{/*公司简介卡片*/}}
                    <template v-for="enterprise in enterprises.slice((currentPage-1)*pageSize,currentPage*pageSize)">

                        <el-col :span="7" style="margin:10px 10px">
                            <el-card shadow="hover">
                                <el-row>
                                    <el-col :span="16">
                                        {{/*企业名称*/}}
                                        <p class="enterprise-name">{[enterprise.name]}</p>
                                        {{/*企业其他内容*/}}
                                        <p class="enterprise-other">
                                            {[enterprise.type]}
                                            <el-divider direction="vertical"></el-divider>
                                            {[enterprise.financing_stage]}
                                            <el-divider direction="vertical"></el-divider>
                                            {[enterprise.scale]}
                                        </p>
                                    </el-col>
                                    {{/*企业封面*/}}
                                    <el-avatar :size="60" shape="square"
                                               :src="enterprise.cover"
                                               style="float: right;border-radius: 10px"></el-avatar>
                                </el-row>
                            </el-card>
                        </el-col>
                    </template>
                </el-row>

                <el-row type="flex" justify="center">
                    <el-col :span="10" style="text-align: center">
                        {{/*分页*/}}
                        <el-pagination
                                background
                                layout="prev, pager, next"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                :total=enterprises.length>
                        </el-pagination>
                    </el-col>
                </el-row>


            </el-card>
        </el-col>

    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: '3',
                currentPage: 1,
                pageSize: 12,
                enterprises:{{.Enterprises}},
                cities: ['不限', '北京', '上海', '广州', '深圳'],
                stages: ['不限', '未融资', 'A轮', 'B轮', 'C轮', 'D轮及以上', '上市公司', '不需要融资',],
                scales:['不限','0-20人','20-99人','100-499人','500-999人','1000-9999人','10000人以上'],
                radio_financing_stage: '不限',
                radio_city: '不限',
                radio_scale: '不限',
            }
        },
        methods: {
            handleCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },
            /*根据融资规模过滤企业*/
            handleFilterByStage() {
                let myFormData = new FormData();
                let self = this;
                myFormData.append("financing_stage", this.radio_financing_stage);
                $.ajax({
                    url: "{{urlfor "EnterpriseController.FilterByStage"}}",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    type: "POST",
                    success: function (res) {
                        self.enterprises = res.data;
                    }

                });
            },
            handleFilterByCity() {
                let myFormData = new FormData();
                let self = this;
                myFormData.append("city", this.radio_city);
                $.ajax({
                    url: "{{urlfor "EnterpriseController.FilterByCity"}}",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    type: "POST",
                    success: function (res) {
                        self.enterprises = res.data;
                    }

                });
            },
            handleFilterByScale() {
                let myFormData = new FormData();
                let self = this;
                myFormData.append("scale", this.radio_scale);
                $.ajax({
                    url: "{{urlfor "EnterpriseController.FilterByScale"}}",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    type: "POST",
                    success: function (res) {
                        self.enterprises = res.data;
                    }
                });
            },

        },
        delimiters: ['{[', ']}'],
    })
</script>