<head>
    {{template "widgets/head.html" .}}
    <link href="/static/css/enterprise.css" rel="stylesheet">
    <title>tiny-recruit</title>
</head>

<body style="background-color: #f6f6f6">
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row type="flex" justify="center">
        <el-col :span="20" style="margin:10px 10px">
            <el-card shadow="never" style="padding: 0;">
                <div slot="header" class="clearfix">
                    <span>公司浏览</span>
                    <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                </div>
                <el-row>
                    {{/*公司简介卡片*/}}
                    <template v-for="enterprise in enterprises.slice((currentPage-1)*pageSize,currentPage*pageSize)">

                        <el-col :span="7" style="margin:10px 10px">
                            <el-card shadow="hover">
                                <el-row>
                                    <el-col :span="16">
                                        {{/*企业名称*/}}
                                        <p class="enterprise-name">{[enterprise.name]}</p>
                                        {{/*企业其他内容*/}}
                                        <p class="enterprise-other">
                                            {[enterprise.type]}
                                            <el-divider direction="vertical"></el-divider>
                                            {[enterprise.financing_stage]}
                                            <el-divider direction="vertical"></el-divider>
                                            {[enterprise.scale]}
                                        </p>
                                    </el-col>
                                    {{/*企业封面*/}}
                                    <el-avatar :fit="fit" :size="60" shape="square"
                                               :src="enterprise.cover"
                                               style="float: right;border-radius: 10px"></el-avatar>
                                </el-row>
                            </el-card>
                        </el-col>
                    </template>
                </el-row>

                <el-row type="flex" justify="center">
                    <el-col :span="10" style="text-align: center">
                        {{/*分页*/}}
                        <el-pagination
                                background
                                layout="prev, pager, next"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                :total=enterprises.length>
                        </el-pagination>
                    </el-col>
                </el-row>


            </el-card>
        </el-col>

    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: '3',
                currentPage: '1',
                pageSize: '12',
                enterprises:{{.Enterprises}},
            }
        },
        methods: {
            handleCurrentChange: function(currentPage){
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },
        },
        delimiters: ['{[', ']}'],
    })
</script>