<head>
    {{template "widgets/head.html" .}}
    <title>tiny-recruit</title>
</head>

<body>
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row type="flex" justify="center">
        <el-col :span="20">
            <!-- 左侧导航栏 -->
            <el-col :span="3" style="height:100%;margin-top: 10px;">
                <el-menu default-active="1">
                    <el-menu-item index="1" @click="displayIndex=1;" style="text-align: center">
                        <span>职位管理</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="displayIndex=2;" style="text-align: center">
                        <span>投递管理</span>
                    </el-menu-item>
                </el-menu>
            </el-col>

            <!-- 右侧内容 -->
            {{/*职位管理*/}}
            {{template "enterprise-home/job-management.html" .}}

            {{/*投递管理*/}}
            {{template "enterprise-home/deliverance-management.html" .}}
        </el-col>
    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: '4',
                displayIndex: 0,
                currentPage: 1,
                pageSize: 8,
                enterprise:{{.Enterprise}},
                jobs: {{.Jobs}},
                jobQueryID: '',
                deliverList: [],
                deliverListVisible: 0,
                deliverStatus: '',
                deliverStatusList: ['已投递', '已查看', '邀约面试', '已录取', '已释放'],
                dialogNewJobVisible: false,
                dialogEditJobVisible: false,
                cities: ['北京', '上海', '广州', '深圳'],
                exps: ['在校/应届', '3年及以下', '3-5年', '5-10年', '10年以上'],
                edus: ['大专', '本科', '硕士', '博士'],
                natures: ['全职', '实习'],
                types: ['互联网', '电子商务'],
                formNewJob: {
                    job_id: 0,
                    title: '',
                    location: '',
                    description: '',
                    min_monthly_salary: 0,
                    max_monthly_salary: 0,
                    pay_times: 0,
                    require_education: '',
                    require_experience: '',
                    type: '',
                    nature: '',
                },
            }
        },
        methods: {
            dateFormatYMDDel(time) {
                return moment(time).format("YYYY-MM-DD")
            },
            dateFormatYYYYMMDD(time) {
                return moment(time).format("YYYY年MM月DD日")
            },
            handleCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },
            handleQuery() {
                let self = this;
                let myFormData = new FormData();
                let jobID = this.jobQueryID;
                myFormData.append("job_id", jobID);
                $.ajax({
                    url: "{{urlfor "JobController.GetDeliverance"}}",
                    type: "POST",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {

                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.$notify({
                                type: "success",
                                message: "获取投递数据成功!"
                            });
                            self.deliverList = res.data;
                            self.deliverListVisible = 1;
                        }
                    }
                })
            },
            dateFormatAge(birthday) {
                let now = moment();
                return now.diff(birthday, 'years')
            },
            handleSelectStatus(id, origin) {
                let status = this.deliverStatus;
                let self = this;
                this.$confirm('确定修改该投递状态？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //修改投递状态
                    let myFormData = new FormData();
                    myFormData.append("status", status);
                    myFormData.append("deliverance_id", id);
                    $.ajax({
                        url: "{{urlfor "DeliveranceController.ChangeStatus"}}",
                        type: "POST",
                        data: myFormData,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.errcode !== 0) {

                                self.$notify.error({
                                    message: res.message
                                });
                            } else {
                                self.$notify({
                                    type: "success",
                                    message: "投递状态修改成功!"
                                });

                            }
                        }
                    })
                }).catch(() => {
                    this.deliverStatus = origin;
                    this.$message({
                        type: 'info',
                        message: '已取消修改'
                    })
                })
            },
            handleNewJob() {
                //请求新建职位
                let self = this;
                let myFormData = new FormData();
                myFormData.append("title", this.formNewJob.title)
                myFormData.append("nature", this.formNewJob.nature)
                myFormData.append("type", this.formNewJob.type)
                myFormData.append("location", this.formNewJob.location)
                myFormData.append("min_monthly_salary", this.formNewJob.min_monthly_salary)
                myFormData.append("max_monthly_salary", this.formNewJob.max_monthly_salary)
                myFormData.append("pay_times", this.formNewJob.pay_times)
                myFormData.append("require_experience", this.formNewJob.require_experience)
                myFormData.append("require_education", this.formNewJob.require_education)
                myFormData.append("description", this.formNewJob.description)
                myFormData.append("enterprise_id", this.enterprise.enterprise_id)

                $.ajax({
                    url: "{{urlfor "JobController.NewJob"}}",
                    type: "POST",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {

                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.dialogNewJobVisible = false;
                            self.$notify({
                                type: "success",
                                message: "新建职位成功！"
                            });

                        }
                    }
                })
            },
            /*职位编辑*/
            handleEditJob(jobID) {
                /*取回对应职位信息*/
                let self = this;
                let fd = new FormData();
                fd.append("job_id", jobID)
                $.ajax({
                    url: "{{urlfor "JobController.GetJob"}}",
                    type: "POST",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        /*为职位编辑对话框内容赋值*/
                        self.formNewJob.job_id = jobID;
                        self.formNewJob.title = res.data.title;
                        self.formNewJob.nature = res.data.nature;
                        self.formNewJob.type = res.data.type;
                        self.formNewJob.location = res.data.location;
                        self.formNewJob.min_monthly_salary = res.data.min_monthly_salary;
                        self.formNewJob.max_monthly_salary = res.data.max_monthly_salary;
                        self.formNewJob.pay_times = res.data.pay_times;
                        self.formNewJob.require_education = res.data.require_education;
                        self.formNewJob.require_experience = res.data.require_experience;
                        self.formNewJob.description = res.data.description;
                        self.dialogEditJobVisible = true;
                    }
                })

            },
            /*确定修改职位*/
            handleConfirmEditJob() {
                let self = this;
                let myFormData = new FormData();
                myFormData.append("job_id", this.formNewJob.job_id);
                myFormData.append("title", this.formNewJob.title)
                myFormData.append("nature", this.formNewJob.nature)
                myFormData.append("type", this.formNewJob.type)
                myFormData.append("location", this.formNewJob.location)
                myFormData.append("min_monthly_salary", this.formNewJob.min_monthly_salary)
                myFormData.append("max_monthly_salary", this.formNewJob.max_monthly_salary)
                myFormData.append("pay_times", this.formNewJob.pay_times)
                myFormData.append("require_experience", this.formNewJob.require_experience)
                myFormData.append("require_education", this.formNewJob.require_education)
                myFormData.append("description", this.formNewJob.description)
                myFormData.append("enterprise_id", this.enterprise.enterprise_id)

                $.ajax({
                    url: "{{urlfor "JobController.EditJob"}}",
                    type: "POST",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {

                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.dialogNewJobVisible = false;
                            self.$notify({
                                type: "success",
                                message: "修改职位成功！"
                            });

                        }
                    }
                })

            },
        },
        delimiters: ['{[', ']}'],
    })
</script>

<style>
    .el-table td, .el-table th {
        text-align: center;
    !important;
    }
</style>