<head>
    {{template "widgets/head.html" .}}
    <title>tiny-recruit</title>
</head>

<body style="background-color: #f6f6f6">
<div id="app">
    {{template "widgets/head-menu.html" .}}
    <el-row type="flex" justify="center">
        <el-col :span="20" style="margin:10px 10px">
            <el-card shadow="never" style="padding: 0;">
                {{/*搜索框*/}}
                <el-row style="margin-left: 60px">
                    <el-col :span="22">
                        <el-input placeholder="请输入内容" class="search-bar" v-model="search_content"></el-input>
                        <el-button icon="el-icon-search" @click="handleFilter">搜索</el-button>
                        <el-button style="" @click="handleClearFilter" type="primary">清空过滤器</el-button>
                    </el-col>
                </el-row>
                <el-divider></el-divider>
                {{/*职位过滤器*/}}
                <el-row style="margin-left: 60px">
                    <el-col :span="20">
                        <p>
                            <span class="filter-box-title">工作地点：</span>
                            <el-select v-model="provinceSelected" @change="handleProvinceSelected">
                                <el-option
                                        v-for="province in provinces"
                                        :key="province.pro_id"
                                        :label="province.pro_name"
                                        :value="province.pro_name"
                                ></el-option>
                            </el-select>
                            <el-select v-if="citySelectVisible" v-model="citySelected" @change="handleFilter">
                                <el-option
                                        v-for="city in cities"
                                        :key="city.city_name"
                                        :label="city.city_name"
                                        :value="city.city_name"
                                ></el-option>

                            </el-select>
                        </p>

                        <p>
                            <span class="filter-box-title">工作经验：</span>
                            <el-radio-group v-model="radio_require_experience" size="small" @change="handleFilter">
                                <template v-for="experience in require_experiences">
                                    <el-radio-button :label="experience"></el-radio-button>
                                </template>
                            </el-radio-group>
                        </p>

                        <p>
                            <span class="filter-box-title">学历要求：</span>
                            <el-radio-group v-model="radio_require_education" size="small" @change="handleFilter">
                                <template v-for="education in require_educations">
                                    <el-radio-button :label="education"></el-radio-button>
                                </template>
                            </el-radio-group>
                        </p>

                        <p>
                            <span class="filter-box-title">融资阶段：</span>
                            <span>
                                        <el-radio-group v-model="radio_financing_stage" size="small"
                                                        @change="handleFilter">
                                            <template v-for="stage in stages">
                                                <el-radio-button :label="stage"></el-radio-button>
                                            </template>
                                        </el-radio-group>
                                    </span>
                        </p>
                        <p>
                            <span class="filter-box-title">公司规模： </span>
                            <span class="filter-box-rows">
                               <el-radio-group v-model="radio_scale" size="small" @change="handleFilter">
                                    <template v-for="scale in scales">
                                        <el-radio-button :label="scale"></el-radio-button>
                                    </template>
                               </el-radio-group>
                            </span>
                        </p>
                        <p>
                            <span class="filter-box-title">行业领域： </span>
                            <span class="filter-box-rows">
                               <el-radio-group v-model="radio_type" size="small" @change="handleFilter">
                                    <template v-for="type in types">
                                        <el-radio-button :label="type"></el-radio-button>
                                    </template>
                               </el-radio-group>
                            </span>
                        </p>
                    </el-col>
                </el-row>
            </el-card>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="14" style="margin:1px 5px">
            <el-card shadow="never" style="padding: 0;">
                {{/*职位展示卡片*/}}
                <el-row style="margin-left: 50px">
                    <template v-for="job in jobs.slice((currentPage-1)*pageSize,currentPage*pageSize)">
                        <el-col :span="23">
                            <el-card shadow="never" style="height: 140px;margin: 5px 0">
                                <el-col :span="13">
                                    <el-card shadow="never" style="border: none">
                                        <p>
                                            <span><a class="job-info-title"
                                                     :href="'{{urlfor "JobController.ShowJob" ":id" ""}}' + job.job_id"
                                                     target="_blank">{[job.title]}</a></span>
                                            <span class="job-info-location">[{[job.location]}]</span>
                                            <span class="job-info-create-time">发布于{[dateFormatMMDD(job.create_time)]}</span>
                                        </p>
                                        <p>
                                            <span class="job-info-salary">{[job.min_monthly_salary]}K-{[job.max_monthly_salary]}K</span>
                                            <span class="job-info-other">
                                                {[job.require_experience]}
                                                <el-divider direction="vertical"></el-divider>
                                                {[job.require_education]}
                                            </span>
                                        </p>
                                    </el-card>
                                </el-col>
                                <el-col :span="11" style="float: right">
                                    <el-card shadow="never" style="height: 100px">
                                        <el-row>
                                            <el-col :span="18">
                                                {{/*企业名称*/}}
                                                <p class="enterprise-name"><a
                                                            :href="'{{urlfor "EnterpriseController.ShowEnterprise" ":id" ""}}' + job.enterprise.enterprise_id"
                                                            target="_blank">{[job.enterprise.name]}</a></p>
                                                {{/*企业其他内容*/}}
                                                <p class="enterprise-other">
                                                    {[job.enterprise.type]}
                                                    <el-divider direction="vertical"></el-divider>
                                                    {[job.enterprise.financing_stage]}
                                                    <el-divider direction="vertical"></el-divider>
                                                    {[job.enterprise.scale]}
                                                </p>
                                            </el-col>
                                            {{/*企业封面*/}}
                                            <el-avatar :size="50" shape="square"
                                                       :src="job.enterprise.cover"
                                                       style="float: right;border-radius: 10px"></el-avatar>
                                        </el-row>
                                    </el-card>
                                </el-col>
                            </el-card>
                        </el-col>
                    </template>
                </el-row>
                <el-divider></el-divider>

                {{/*分页器*/}}
                <el-row type="flex" justify="center">
                    <el-col :span="10" style="text-align: center;margin-top: 20px">
                        <el-pagination
                                background
                                layout="prev, pager, next"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                :total=jobs.length>
                        </el-pagination>
                    </el-col>
                </el-row>

            </el-card>
        </el-col>
        <el-col :span="6" style="margin:1px 5px">
            <el-card shadow="never" style="padding: 0;">
                2
            </el-card>
        </el-col>
    </el-row>

</div>

</body>
{{template "widgets/footer.html" .}}

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: '2',
                currentPage: 1,
                pageSize: 8,
                jobs:{{.Jobs}},

                stages: ['不限', '未融资', 'A轮', 'B轮', 'C轮', 'D轮及以上', '已上市', '不需要融资',],
                scales: ['不限', '0-20人', '20-99人', '100-499人', '500-999人', '1000-9999人', '10000人以上'],
                types: ['不限', '互联网', '电子商务', '更多'],
                require_experiences: ['不限', '在校/应届', '3年及以下', '3-5年', '5-10年', '10年以上'],
                require_educations: ['不限', '大专', '本科', '硕士', '博士'],
                radio_financing_stage: '不限',
                radio_type: '不限',
                radio_city: '不限',
                radio_scale: '不限',
                radio_require_experience: '不限',
                radio_require_education: '不限',
                search_content: '',
                provinces:{{.Provinces}},
                provinceSelected: '不限',
                citySelected: '',
                cities: [],
                citySelectVisible: false,
            }
        },
        methods: {
            /*省被选中后获取对应市区信息*/
            handleProvinceSelected() {
                /*如果是直辖市*/
                if (this.provinceSelected === "北京市" || this.provinceSelected === "天津市" || this.provinceSelected === "上海市" || this.provinceSelected === "重庆市") {
                    this.citySelected = this.provinceSelected;
                    this.handleFilter();
                } else {
                    /*查询省对应的市数据*/
                    let self = this;
                    let myFormData = new FormData();
                    myFormData.append("province_name", this.provinceSelected);

                    $.ajax({
                        url: "{{urlfor "BaseController.GetCities"}}",
                        type: "POST",
                        data: myFormData,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.errcode !== 0) {
                                self.handleClearFilter();
                                self.$notify.error({
                                    message: res.message
                                });
                            } else {
                                self.cities = res.data;
                                self.citySelected = "不限";
                                self.citySelectVisible = true;
                            }
                        }

                    });
                }


            },
            handleCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },
            handleClick() {
                console.log(this.jobs);
            },
            dateFormatMMDD(time) {
                return moment(time).format("MM月DD日")
            },
            handleClearFilter() {
                this.search_content = "";
                this.radio_require_experience = "不限";
                this.radio_require_education = "不限";
                this.citySelected = "不限";
                this.provinceSelected = "不限";
                this.radio_financing_stage = "不限";
                this.radio_scale = "不限";
                this.radio_type = "不限";
                this.citySelectVisible = false;
            },
            /*职位过滤器逻辑*/
            handleFilter() {
                let self = this;
                let myFormData = new FormData();
                myFormData.append("search_content", this.search_content);
                myFormData.append("city", this.citySelected);
                myFormData.append("require_experience", this.radio_require_experience);
                myFormData.append("require_education", this.radio_require_education);
                myFormData.append("financing_stage", this.radio_financing_stage);
                myFormData.append("scale", this.radio_scale);
                myFormData.append("type", this.radio_type);

                $.ajax({
                    url: "{{urlfor "JobController.Filter"}}",
                    type: "POST",
                    data: myFormData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {
                            self.handleClearFilter();
                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            console.log(res.data);
                            self.jobs = res.data;
                        }
                    }
                });

            }
        },
        delimiters: ['{[', ']}'],

    })
</script>
<style>
    .filter-box-title {
        font-weight: bold;
    }

    .job-info-salary {
        font-size: 16px;
        color: #FD5F39;
    }

    .job-info-title {
        font-size: 16px;
        color: #409EFF;
    }

    .job-info-title:hover {
        text-decoration: none;
        cursor: pointer;
    }

    .job-info-location {
        font-size: 16px;
        color: #409EFF
    }

    .job-info-create-time {
        margin-left: 5px;
        color: #8D92A1;
        font-size: 13px;
    }

    .job-info-other {
        margin-left: 5px;
        font-size: 14px;
        color: grey;
    }

    .enterprise-name {
        font-size: 16px;
        color: #409EFF
    }

    .enterprise-name:hover {
        text-decoration: none;
        cursor: pointer;
    }

    .enterprise-other {
        font-size: 10px;
        color: grey;
    }

    .filter-box-title {
        font-weight: bold;
    }

    .search-bar {
        width: 700px;
    }
</style>