<head>
    {{template "widgets/head.html" .}}
    <title>tiny-recruit</title>
</head>

<body style="background-color: #f6f6f6">
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row type="flex" justify="center">
        <el-col :span="20">
            <!-- 左侧导航栏 -->
            <el-col :span="3" style="height:100%;margin-top: 10px;">
                <el-menu default-active="1">
                    <el-menu-item index="1" @click="displayIndex=1;" style="text-align: center">
                        <span>用户管理</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="displayIndex=2;" style="text-align: center">
                        <span>标签管理</span>
                    </el-menu-item>
                </el-menu>
            </el-col>
            <!-- 右侧内容 -->
        </el-col>
    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex: '5',
            }
        },
        methods: {}
    })
</script>