<head>
    {{template "widgets/head.html" .}}
    <title>tiny-recruit</title>
</head>

<body style="background-color: #f6f6f6">
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row type="flex" justify="center">
        <el-col :span="20">
            <!-- 左侧导航栏 -->
            <el-col :span="3" style="height:100%;margin-top: 10px;">
                <el-menu default-active="1">
                    <el-menu-item index="1" @click="displayIndex=1;getMembers();" style="text-align: center">
                        <span>用户</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="displayIndex=2;" style="text-align: center">
                        <span>职位</span>
                    </el-menu-item>
                </el-menu>
            </el-col>
            <!-- 右侧内容 -->
            {{/*用户管理*/}}
            {{template "panel/member-management.html" .}}

        </el-col>
    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                displayIndex: '1',
                activeIndex: '1',
                members: [],
            }
        },
        methods: {
            dateFormatYMDDel(time) {
                return moment(time).format("YYYY-MM-DD")
            },
            getMembers() {
                let self = this;
                $.ajax({
                    url: "{{urlfor "AccountController.GetMembers"}}",
                    type: "POST",
                    success: function (res) {
                        self.members = res.data;
                    }
                });
            },
            /*禁用用户*/
            handleSetMemberStatus(id, status) {
                let self = this;
                let fd = new FormData();
                fd.append("member_id", id);
                fd.append("status",status);
                $.ajax({
                    url: "{{urlfor "AccountController.SetMemberStatus"}}",
                    type: "POST",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.errcode !== 0) {
                            self.$notify.error({
                                message: res.message
                            });
                        } else {
                            self.getMembers();
                            self.$notify({
                                type: "success",
                                message: "设置用户状态成功！"
                            });
                        }
                    }
                })
            }
        },
        delimiters: ['{[', ']}'],
    })
</script>