<head>
    <title>tiny-recruit</title>
    {{template "widgets/head.html" .}}
    <link href="/static/css/userCenter.css" rel="stylesheet">
</head>

<body style="background-color: #f6f6f6">
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row type="flex" justify="center">
        <el-col :span="20">
            <!-- 左侧导航栏 -->
            <el-col :span="3" style="height:100%;margin-top: 10px;">
                <el-menu default-active="1">
                    <el-menu-item index="1" @click="displayIndex=1;getResume();" style="text-align: center">
                        <span>简历</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="displayIndex=2;getDelivers();" style="text-align: center">
                        <span>投递</span>
                    </el-menu-item>
                </el-menu>
            </el-col>

            <!-- 右侧内容 -->
            {{/*简历展示*/}}
            {{template "user-center/resume-display.html" .}}
            {{/*投递管理*/}}
            {{template "user-center/deliverance-management.html" .}}
        </el-col>
    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                displayIndex: 0,
                resume: '',
                member:{{.Member}},
                delivers: [],
                deliverTableVisible: false,

            }
        },
        methods: {
            getResume() {
                let self = this;
                let myFormData = new FormData();
                let memberID = this.member.member_id;
                console.log(memberID);
                myFormData.append("id", memberID);
                $.ajax({
                    url: "{{urlfor "ResumeController.GetResumeByMemberID"}}",
                    type: "POST",
                    success: function (res) {
                        self.resume = res.data;
                    }

                });
                console.log(this.resume);
            },
            getDelivers() {
                let self = this;
                $.ajax({
                    url: "{{urlfor "AccountController.GetDelivers"}}",
                    type: "POST",
                    success: function (res) {
                        self.delivers = res.data;
                        self.deliverTableVisible = true;

                    }

                });
            },
            /*日期格式化工具*/
            dateFormat(date) {
                return moment(date).format("YYYY-MM-DD");
            },
            dateFormatYMDDel(time) {
                return moment(time).format("YYYY-MM-DD")
            },
            /*撤销投递申请*/
            handleCancel(id) {
                let self = this;
                this.$confirm('此操作将撤销投递申请, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    /*撤销申请逻辑*/
                    //修改投递状态
                    let myFormData = new FormData();
                    myFormData.append("status", "已撤销");
                    myFormData.append("deliverance_id", id);
                    $.ajax({
                        url: "{{urlfor "DeliveranceController.ChangeStatus"}}",
                        type: "POST",
                        data: myFormData,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.errcode !== 0) {

                                self.$notify.error({
                                    message: res.message
                                });
                            } else {
                                self.$notify({
                                    type: "success",
                                    message: "该投递已成功撤销!"
                                });
                            }
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消操作'
                    });
                });
            }

        },
        delimiters: ['{[', ']}'],
    })
</script>