<head>
    <title>tiny-recruit</title>
    {{template "widgets/head.html" .}}
    <link href="/static/css/userCenter.css" rel="stylesheet">
</head>

<body style="background-color: #f6f6f6">
<div id="app">
    {{template "widgets/head-menu.html" .}}

    <el-row>
        <!-- 左侧导航栏 -->
        <el-col :span="3" style="height:100%;margin:10px 10px">
            <el-menu default-active="1">
                <el-menu-item index="1" @click="displayIndex=1;getResume();" style="text-align: center">
                    <span>简历</span>
                </el-menu-item>
            </el-menu>
        </el-col>

        <!-- 右侧内容 -->
        {{/*简历*/}}
        <el-col :span="20" v-if="displayIndex===1" style="margin:10px 10px">
            <el-card shadow="never" style="padding: 0">
                <div slot="header" class="clearfix">
                    <span>我的在线简历</span>
                    <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                </div>

                {{/*div-个人简历内容*/}}
                <div class="resume-box">
                    {{/*个人基本信息*/}}
                    <el-card id="user-info" shadow="hover">
                        <span class="user-info-name">{[resume.name]}</span>
                        <p class="user-info-other"></p>
                    </el-card>
                    {{/*个人优势*/}}

                </div>
            </el-card>

        </el-col>
    </el-row>
</div>

</body>
{{template "widgets/footer.html" .}}


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                displayIndex: 0,
                resume: '',
                member:{{.Member}},

            }
        },
        methods: {
            getResume() {
                let self = this;
                let myFormData = new FormData();
                let memberID = this.member.member_id;
                console.log(memberID);
                myFormData.append("id", memberID);
                $.ajax({
                    url: "{{urlfor "ResumeController.GetResumeByMemberID"}}",
                    type: "POST",
                    success: function (res) {
                        self.resume = res.data;
                    }

                });
                console.log(this.resume);
            }

        },
        delimiters: ['{[', ']}'],
    })
</script>