<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link href="/static/css/toast.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<script src="/static/respond.js/1.4.2/respond.min.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/jquery.tagcanvas.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
