<div id="head-menu">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1" ><a href="{{urlfor "NavigationController.Home"}}">首页</a></el-menu-item>
        <el-menu-item index="2" ><a href="{{urlfor "NavigationController.Job"}}">职位</a></el-menu-item>
        <el-menu-item index="3" ><a href="{{urlfor "NavigationController.Enterprise"}}">公司</a></el-menu-item>
    </el-menu>
</div>
<script>
    new Vue({
        el: '#head-menu',
        data: function () {
            return {
                activeIndex: '1',
            }
        },
        methods: {
            setActiveIndex(a) {
                this.activeIndex = a;
            }
        }
    })
</script>