<el-dialog title="新建职位" :visible.sync="dialogNewJobVisible" width="80%" v-model="formNewJob">
    <el-form :rules="rulesEditJob" :model="formNewJob">

        <el-form-item label="标题" prop="title">
            <el-input v-model="formNewJob.title" style="width: 500px" maxlength="30" show-word-limit></el-input>
        </el-form-item>
        <el-form-item>
            <span slot="label"><span style="color: red">*</span>职位性质</span>
            <el-select v-model="formNewJob.nature">
                <el-option v-for="nature in natures" :value="nature">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <span slot="label"><span style="color: red">*</span>职位类型</span>
            <el-button @click="dialogSelectJobTypeVisible=true" size="small" type="primary">选择</el-button>
            <el-tag v-if="jobTypeSelected">{[jobTypeSelected[0]]}/{[jobTypeSelected[1]]}/{[jobTypeSelected[2]]}</el-tag>
        </el-form-item>
        <el-form-item style="width: 400px">
            <span slot="label"><span style="color: red">*</span>技能标签</span>
            <el-button @click="dialogSelectSkillTagVisible=true" size="small" type="primary">选择</el-button>
        </el-form-item>
        <div style="border:1px dashed #000;height: 100px;width: 400px" v-if="formNewJob.skill_tags">
            <template v-for="tag in formNewJob.skill_tags.split('-')">
                <el-tag style="margin: 5px 5px">{[tag]}</el-tag>
            </template>
        </div>
        <el-form-item label="所属部门" prop="department">
            <el-input v-model="formNewJob.department" style="width: 200px" maxlength="20" show-word-limit></el-input>
        </el-form-item>
        <el-form-item>
            <span slot="label"><span style="color: red">*</span>城市</span>
            <el-select v-model="provinceSelected" @change="handleProvinceSelected">
                <el-option
                        v-for="province in provinces"
                        :key="province.pro_id"
                        :label="province.pro_name"
                        :value="province.pro_name"
                ></el-option>
            </el-select>
            <el-select v-if="citySelectVisible" v-model="citySelected" @change="handleCitySelected">
                <el-option
                        v-for="city in cities"
                        :key="city.city_name"
                        :label="city.city_name"
                        :value="city.city_name"
                ></el-option>

            </el-select>
        </el-form-item>
        <el-form-item>
            <span slot="label"><span style="color: red">*</span>薪资范围</span>
            <el-input-number size="small" v-model="formNewJob.min_monthly_salary" controls-position="right" :min="1"
                             :max="50" style="width: 100px"></el-input-number>
            <span>K - </span>
            <el-input-number size="small" v-model="formNewJob.max_monthly_salary" controls-position="right" :min="1"
                             :max="50" style="width: 100px"></el-input-number>
            <span>K</span>
            <el-input-number size="small" v-model="formNewJob.pay_times" controls-position="right" :min="1" :max="30"
                             style="width: 100px"></el-input-number>
            <span>薪</span>
        </el-form-item>
        <el-form-item>
            <span slot="label"><span style="color: red">*</span>经验和学历</span>
            <el-select v-model="formNewJob.require_experience">
                <el-option v-for="exp in exps" :value="exp">
                </el-option>
            </el-select>
            <el-select v-model="formNewJob.require_education">
                <el-option v-for="edu in edus" :value="edu">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="职位描述" prop="description">
            <el-input
                    type="textarea"
                    :rows="10"
                    placeholder="请输入职位描述"
                    maxlength="500" show-word-limit
                    v-model="formNewJob.description">
            </el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="dialogNewJobVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleNewJob">确 定</el-button>
    </div>
</el-dialog>