<el-dialog title="编辑简历" :visible.sync="dialogEditResumeVisible" width="80%" v-model="formEditResume" style="padding: 0">
    <template>
        <el-form :rules="rulesEditResume" :model="formEditResume">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="照片" style="width: 500px">
                        <img  v-if="formEditResume.photo" :src="formEditResume.photo" alt="" style="width: 100px;height: 100px">
                        <input type="file" @change="getFiles($event)" />
                    </el-form-item>
                    <el-form-item  style="width: 400px" prop="name">
                        <span slot="label">姓名</span>
                        <el-input v-model="formEditResume.name" style="width: 200px" maxlength="5" show-word-limit></el-input>
                    </el-form-item>

                    <el-form-item  style="width: 400px" prop="gender">
                        <span slot="label">性别</span>
                        <el-select v-model="formEditResume.gender" placeholder="请选择性别" style="width: 200px">
                            <el-option label="男" value="0"></el-option>
                            <el-option label="女" value="1"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item style="width: 400px">
                        <span slot="label"><span style="color: red">*</span>生日</span>
                        <el-date-picker
                                v-model="formEditResume.birthday"
                                style="width: 200px"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item  style="width: 400px" prop="tel">
                        <span slot="label">电话</span>
                        <el-input v-model.number="formEditResume.tel" style="width: 200px" maxlength="11" show-word-limit></el-input>
                    </el-form-item>

                    <el-form-item style="width: 400px" prop="email">
                        <span slot="label">邮箱</span>
                        <el-input v-model="formEditResume.email" style="width: 200px" maxlength="25" show-word-limit></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">

                    <el-form-item  style="width: 400px" prop="hope_salary">
                        <span slot="label">期望薪资</span>
                        <el-select v-model="formEditResume.hope_salary" style="width: 200px">
                            <el-option label="5k" value="5k"></el-option>
                            <el-option label="10k" value="10k"></el-option>
                            <el-option label="15k" value="15k"></el-option>
                            <el-option label="20k" value="20k"></el-option>
                            <el-option label="25k" value="25k"></el-option>
                            <el-option label="30k" value="30k"></el-option>
                            <el-option label="40k" value="40k"></el-option>
                            <el-option label="50k及以上" value="50k"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item  style="width: 400px"  prop="city">
                        <span slot="label">期望城市</span>
                        <el-input v-model="formEditResume.city" style="width: 200px" maxlength="10" show-word-limit></el-input>
                    </el-form-item>

                    <el-form-item  style="width: 400px">
                        <span slot="label"><span style="color: red">*</span>期望职位</span>
                        <el-button @click="dialogSelectJobTypeVisible=true" size="small" type="primary">选择</el-button>
                        <el-tag v-if="jobTypeSelected">{[jobTypeSelected[0]]}/{[jobTypeSelected[1]]}/{[jobTypeSelected[2]]}</el-tag>
                    </el-form-item>

                    <el-form-item  style="width: 400px">
                        <span slot="label"><span style="color: red">*</span>技能标签</span>
                        <el-button @click="dialogSelectSkillTagVisible=true" size="small" type="primary">选择</el-button>
                        <p style="margin-top: 10px"><template v-if="formEditResume.skill_tags" v-for="tag in formEditResume.skill_tags.split('-')">
                                <el-tag style="margin: 0 5px">{[tag]}</el-tag>
                            </template></p>
                    </el-form-item>


                    <el-form-item  style="width: 400px">
                        <span slot="label"><span style="color: red">*</span>个人优势</span>
                        <el-input
                                type="textarea"
                                :rows="4"
                                placeholder="请输入内容"
                                maxlength="200" show-word-limit
                                v-model="formEditResume.advantage">
                        </el-input>
                    </el-form-item>

                </el-col>
            </el-row>

        </el-form>
    </template>
    <div slot="footer" class="dialog-footer">
        <el-button @click="dialogEditResumeVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleConfirmEditResume">确 定</el-button>
    </div>
</el-dialog>

