<el-dialog title="添加项目经历" :visible.sync="dialogAddProjectVisible" width="50%" v-model="formEditProject" style="padding: 0">
    <template>
        <el-form>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="项目名称" style="width: 500px">
                        <el-input v-model="formEditProject.name" style="width: 300px"></el-input>
                    </el-form-item>
                    <el-form-item label="项目角色" style="width: 400px">
                        <el-input v-model="formEditProject.role" style="width: 200px"></el-input>
                    </el-form-item>
                    <el-form-item label="项目持续时间" style="width: 600px">
                        <el-date-picker
                                v-model="formEditProject.start_time"
                                style="width: 200px"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期">
                        </el-date-picker>
                        至
                        <el-date-picker
                                v-model="formEditProject.end_time"
                                style="width: 200px"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="项目描述" style="width: 400px">
                        <el-input
                                type="textarea"
                                :rows="6"
                                placeholder="请输入内容"
                                v-model="formEditProject.description">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </template>






    <div slot="footer" class="dialog-footer">
        <el-button @click="dialogAddProjectVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleConfirmAddProject">确 定</el-button>
    </div>
</el-dialog>
