<el-col :span="20" v-if="displayIndex===2" style="margin:10px 10px">
    <el-card shadow="never" style="padding: 0;">
        <div slot="header" class="clearfix">
            <span>投递管理</span>
        </div>

        <el-row>
            <el-col :span="24">

                <h4>匹配度权重分配</h4>
                {{/*匹配权重设置*/}}
                <p>
                    <span>最高学历 <el-input-number v-model="weight.edu" controls-position="right" :min="0" :max="1"
                                                :step="0.1" size="small"></el-input-number></span>
                    <span>工作地点 <el-input-number v-model="weight.loc" controls-position="right" :min="0" :max="1"
                                                :step="0.1" size="small"></el-input-number></span>
                    <span>薪资 <el-input-number v-model="weight.sal" controls-position="right" :min="0" :max="1"
                                              :step="0.1" size="small"></el-input-number></span>
                    <span>技能 <el-input-number v-model="weight.skill" controls-position="right" :min="0" :max="1"
                                              :step="0.1" size="small"></el-input-number></span>
                    <span><el-button type="primary" size="small" @click="handleDefaultWeight">默认</el-button></span>
                </p>
                {{/*职位选择器*/}}
                <el-select placeholder="请选择职位" v-model="jobQueryID">
                    <el-option v-for="job in jobs" :value="job.job_id" :label="job.title" :key="job.title"
                               v-if="job.status==0">
                        <span>{[dateFormatYMDDel(job.create_time)]}</span>
                        <el-divider direction="vertical"></el-divider>
                        <span>{[job.location]}</span>
                        <el-divider direction="vertical"></el-divider>
                        <span>{[job.title]}</span>
                    </el-option>
                </el-select>


                {{/*查询按钮*/}}
                <el-button type="primary" icon="el-icon-search" @click="handleQuery"></el-button>


                <el-button-group v-if="deliverListVisible==1">
                    <el-button type="primary" @click="handleInterview">邀约面试</el-button>
                    <el-button type="primary" @click="handleEmploy">录用</el-button>
                    <el-button type="primary" @click="handleFree">释放</el-button>
                </el-button-group>


                {{/*投递清单*/}}
                <el-table v-if="deliverListVisible==1"
                          ref="multipleTable"
                          :data="deliverList.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                          :default-sort="{prop: 'match', order: 'descending'}"
                          stripe
                          @selection-change="handleSelectionChange">
                    >

                    <el-table-column
                            type="selection"
                            width="40">
                    </el-table-column>

                    {{/*投递时间*/}}
                    <el-table-column label="投递时间" width="110px" sortable>
                        <template slot-scope="scope">
                            <span>{[dateFormatYMDDel(scope.row.deliver_time)]}</span>
                        </template>
                    </el-table-column>

                    {{/*姓名*/}}
                    <el-table-column label="姓名" width="80px">
                        <template slot-scope="scope">
                            <span>{[scope.row.resume.name]}</span>
                        </template>
                    </el-table-column>

                    {{/*性别*/}}
                    <el-table-column label="性别" width="50px">
                        <template slot-scope="scope">
                            <span>{[scope.row.resume.gender==0?'男':'女']}</span>
                        </template>
                    </el-table-column>

                    {{/*年龄*/}}
                    <el-table-column label="年龄" width="80px" sortable>
                        <template slot-scope="scope">
                            <span>{[dateFormatAge(scope.row.resume.birthday)]}岁</span>
                        </template>
                    </el-table-column>

                    {{/*电话*/}}
                    <el-table-column label="电话" width="120px">
                        <template slot-scope="scope">
                            <span>{[scope.row.resume.tel]}</span>
                        </template>
                    </el-table-column>

                    {{/*邮箱*/}}
                    <el-table-column label="邮箱" width="200px">
                        <template slot-scope="scope">
                            <span>{[scope.row.resume.email]}</span>
                        </template>
                    </el-table-column>

                    {{/*投递状态*/}}
                    <el-table-column label="投递状态" width="130px">
                        <template slot-scope="scope">
                            <span>
                                {{/*投递状态选择器*/}}
                                <el-select :placeholder="scope.row.status" style="width: 120px"
                                           @change="handleSelectStatus(scope.row.deliverance_id,scope.row.status)"
                                           v-model="scope.row.status"
                                >
                                    <el-option v-for="status in deliverStatusList" :value="status">
                                        <span>{[status]}</span>
                                    </el-option>
                                </el-select>
                            </span>
                        </template>
                    </el-table-column>

                    {{/*匹配度*/}}
                    <el-table-column label="匹配度" width="150px" :sortable="true" :sort-method="sortByMatch">
                        <template slot-scope="scope">
                            <el-progress :percentage="parseFloat(scope.row.match).toFixed(2)*100"
                                         :color="customColorMethod(parseFloat(scope.row.match).toFixed(2)*100)"></el-progress>
                        </template>
                    </el-table-column>

                    {{/*操作*/}}
                    <el-table-column label="操作" width="150px">
                        <template slot-scope="scope">
                            <span>
                                <el-button-group>
                                    <el-button type="primary" icon="el-icon-search" size="small"
                                               @click="handlePreviewResume(scope.row.resume.Member.member_id)"></el-button>
                                    <el-button type="primary" icon="el-icon-download" size="small"
                                               @click="handleDownloadResume(scope.row.resume.Member.member_id)"></el-button>
                                </el-button-group>
                            </span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>


        {{/*分页器*/}}
        <el-row type="flex" justify="center">
            <el-col :span="10" style="text-align: center;margin-top: 20px">
                <el-pagination
                        background
                        layout="prev, pager, next"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="pageSize"
                        :total=deliverList.length>
                </el-pagination>
            </el-col>
        </el-row>

    </el-card>
</el-col>

