<el-col :span="20" v-if="displayIndex===2" style="margin:10px 10px">
    <el-card shadow="never" style="padding: 0;">
        <div slot="header" class="clearfix">
            <span>投递管理</span>
        </div>

        <el-row>
            <el-col :span="20">
                {{/*职位选择器*/}}
                <el-select placeholder="请选择职位" v-model="value">
                    <el-option v-for="job in jobs" :value="job.job_id" :label="job.title" :key="job.title">
                        <span>{[dateFormatYMDDel(job.create_time)]}</span>
                        <el-divider direction="vertical"></el-divider>
                        <span>{[job.location]}</span>
                        <el-divider direction="vertical"></el-divider>
                        <span>{[job.title]}</span>
                    </el-option>
                </el-select>
                {{/*查询按钮*/}}
                <el-button type="primary" icon="el-icon-search" @click="handleQuery"></el-button>

                {{/*投递清单*/}}
                <el-table>

                </el-table>

            </el-col>
        </el-row>

       {{/* */}}{{/*分页器*/}}{{/*
        <el-row type="flex" justify="center">
            <el-col :span="10" style="text-align: center;margin-top: 20px">
                <el-pagination
                        background
                        layout="prev, pager, next"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="pageSize"
                        :total=resumes.length>
                </el-pagination>
            </el-col>
        </el-row>*/}}

    </el-card>
</el-col>